html, 
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0 3px;
}

/*Layout structure*/
.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 5% auto 30%;
    grid-template-rows: auto 22%;
    /*grid-gap: 5px;*/
    background-color: white;
}

.filters {
    position: relative;
    grid-row-start: span 2;
    background-color: gray;
}

.map {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: gray;
}

.details {
    grid-row-start: span 2;
    grid-column: 3 / 3;
    background-color: white;
    padding: 10px;
}

.timeline {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    background-color: gray;
}
/*end layout structure*/


/*filters*/
ul {
    margin-top: 14em;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    padding-bottom: 50px;
}

ul span {
    font-size: 2em;
}

.highlight {
    color: #b1d7fb !important;
}

.medium {
    font-size: 45px;
}

.filter-option{
    color: #1a1937;
}

#service-types {
    /*display: none;*/
    position: absolute;
    left: 100%;
    padding: 300% 0 300% 40%;
    width : 200px;
    /*width: 0px;*/
    height: 235px;
    z-index: 500;
    background-color: #3388ff;
}

.hide-services{
    visibility: hidden !important;
}
/*end filters*/

/*map*/
#numberSchools, #numberServices {
    position: absolute;
    top: 90%;
    right: 3%;
    background-color: darkgrey;
    width: 200px;
    height: 50px;
    z-index: 450;  /* z-index of leaflet map is 400 */
}

.shift {
    right: 22% !important;
}

.content {
    color: black;
    text-align: center;
    font-size: 25px !important;
    line-height: 50px !important;
}

.det_text {
    font-size: 20px;
    line-height: 50px;
}
/*map ends*/


/*tooltip*/
.service-description{
    font-size: 12px !important;
    line-height: 14px !important;
    margin: 0 !important;
}
/*tooltip ends*/

/* detail charts*/
.legend {
    padding-bottom: 7px;
  }

  .legend_item {
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 2px;
  }

  .legend_item_icon {
    display: inline-block;
    vertical-align: middle;
  }
  
  .legend_item_text {
    display: inline-block;
    vertical-align: middle;
    background-color: blue;
    padding: 0;
    margin: 0;
  }

  .legend_item_icon {
    margin-right: 5px;
    height: 10px;
    width: 10px;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 0.5em sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
  }

.details_school {
    display: flex;
    width: auto;
    height: auto;
}

h1.det_num {
    font: 3em sans-serif;
    color: gray;
    display: inline;
    align-self: center;
    text-align: center
}
p.det_text {
    font: 1.5em sans-serif;
    color: gray;
    display: inline;
    align-self: center;
    text-align: center
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}
  /* end charts*/